# Data Analytics III

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [2]:
#load the dataset
df=pd.read_csv('Iris.csv',index_col=0)
df

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
Id
1              5.1           3.5            1.4           0.2     Iris-setosa
2              4.9           3.0            1.4           0.2     Iris-setosa
3              4.7           3.2            1.3           0.2     Iris-setosa
4              4.6           3.1            1.5           0.2     Iris-setosa
5              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
146            6.7           3.0            5.2           2.3  Iris-virginica
147            6.3           2.5            5.0           1.9  Iris-virginica
148            6.5           3.0            5.2           2.0  Iris-virginica
149            6.2           3.4            5.4           2.3  Iris-virginica
150            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [3]:
x1=df.iloc[:,:4]

In [4]:
x1

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
Id
1              5.1           3.5            1.4           0.2
2              4.9           3.0            1.4           0.2
3              4.7           3.2            1.3           0.2
4              4.6           3.1            1.5           0.2
5              5.0           3.6            1.4           0.2
..             ...           ...            ...           ...
146            6.7           3.0            5.2           2.3
147            6.3           2.5            5.0           1.9
148            6.5           3.0            5.2           2.0
149            6.2           3.4            5.4           2.3
150            5.9           3.0            5.1           1.8

[150 rows x 4 columns]

In [5]:
y1=df['Species']

In [6]:
y1

Id
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
5         Iris-setosa
            ...
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
150    Iris-virginica
Name: Species, Length: 150, dtype: object

In [7]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x1,y1,test_size=0.2)

In [8]:
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)

(120, 4)
(120,)
(30, 4)
(30,)

In [9]:
from sklearn.naive_bayes import BernoulliNB,GaussianNB,CategoricalNB,MultinomialNB
classifier=GaussianNB()

In [10]:
classifier.fit(x_train,y_train)

GaussianNB()

In [11]:
y_pred=classifier.predict(x_test)

In [12]:
y_pred

array(['Iris-setosa', 'Iris-setosa', 'Iris-virginica', 'Iris-setosa',
       'Iris-setosa', 'Iris-virginica', 'Iris-setosa', 'Iris-versicolor',
       'Iris-setosa', 'Iris-versicolor', 'Iris-virginica', 'Iris-setosa',
       'Iris-versicolor', 'Iris-setosa', 'Iris-versicolor', 'Iris-setosa',
       'Iris-versicolor', 'Iris-setosa', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-setosa', 'Iris-setosa', 'Iris-virginica',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-setosa',
       'Iris-virginica'], dtype='<U15')

In [13]:
count=0
count2=0
for i in range(len(y_test)):
    if y_pred[i]==y_test.iloc[i]:
        count=count+1
        print({count},y_pred[i]+'\t'+y_test.iloc[i])
    else:
        count2=count2+1
        print('************************************')
        print({count2},y_pred[i]+'\t'+y_test.iloc[i])
        print('************************************')

{1} Iris-setosa	Iris-setosa
{2} Iris-setosa	Iris-setosa
************************************
{1} Iris-virginica	Iris-versicolor
************************************
{3} Iris-setosa	Iris-setosa
{4} Iris-setosa	Iris-setosa
{5} Iris-virginica	Iris-virginica
{6} Iris-setosa	Iris-setosa
{7} Iris-versicolor	Iris-versicolor
{8} Iris-setosa	Iris-setosa
{9} Iris-versicolor	Iris-versicolor
{10} Iris-virginica	Iris-virginica
{11} Iris-setosa	Iris-setosa
{12} Iris-versicolor	Iris-versicolor
{13} Iris-setosa	Iris-setosa
{14} Iris-versicolor	Iris-versicolor
{15} Iris-setosa	Iris-setosa
{16} Iris-versicolor	Iris-versicolor
{17} Iris-setosa	Iris-setosa
{18} Iris-versicolor	Iris-versicolor
{19} Iris-versicolor	Iris-versicolor
{20} Iris-virginica	Iris-virginica
{21} Iris-virginica	Iris-virginica
{22} Iris-virginica	Iris-virginica
{23} Iris-setosa	Iris-setosa
{24} Iris-setosa	Iris-setosa
{25} Iris-virginica	Iris-virginica
{26} Iris-versicolor	Iris-versicolor
{27} Iris-versicolor	Iris-versicolor
{28} Iris-setosa	Iris-setosa
{29} Iris-virginica	Iris-virginica

In [14]:
print('Predicted correct count:',count,'\nPredicted incorrect count:',count2)

Predicted correct count: 29
Predicted incorrect count: 1

In [15]:
from sklearn.metrics import accuracy_score
print("Accuracy:",accuracy_score(y_test,y_pred))

Accuracy: 0.9666666666666667

In [16]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,y_pred)

In [17]:
cm

array([[13,  0,  0],
       [ 0,  9,  1],
       [ 0,  0,  7]], dtype=int64)

In [23]:
from sklearn.metrics import precision_score,recall_score
print("Precision:",precision_score(y_pred,y_test,average='macro'))
print("Precision:",precision_score(y_pred,y_test,average='micro'))
print("Precision:",precision_score(y_pred,y_test,average='weighted'))

Precision: 0.9666666666666667
Precision: 0.9666666666666667
Precision: 0.9700000000000001

In [25]:
print("Recall score:",recall_score(y_pred,y_test,average='macro'))
print("Recall score:",recall_score(y_pred,y_test,average='micro'))
print("Recall score:",recall_score(y_pred,y_test,average='weighted'))

Recall score: 0.9583333333333334
Recall score: 0.9666666666666667
Recall score: 0.9666666666666667